<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {% comment %}
    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}
     {% endcomment %}


    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% comment %}
    {% render 'meta-tags' %}
    {% endcomment %}

    {{ content_for_header }}

    {{ 'fontawesome.min.css' | asset_url | stylesheet_tag }}
    {{ 'stylesheet.min.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
    {% comment %}
    {% sections 'header-group' %}
    {% endcomment %}

    <main>
      {{ content_for_layout }}
    </main>

    {% comment %}
    {% sections 'footer-group' %}
    {% endcomment %}

    <script src="{{ 'all.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'scripts.min.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
